@model Autravel.Models.User
@using System.Globalization;
@using Autravel.Models;
@{
    ViewBag.Title = "EditAccount";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@{
    UserRoles role = new UserRoles();
    List<UserRoles> l_role = new List<UserRoles>();
    l_role = role.GetAll();
}
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <div class="col-sm-12">
                        <h3 class="box-title">SỬA THÔNG TIN NGƯỜI DÙNG</h3>
                    </div>

                </div>
                @using (Html.BeginForm("UpdateUser", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="text" class="hidden" name="UserID" value="@Model.User_ID" />
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon customspan4">Tên đăng nhập</span>
                                        <input type="text" class="form-control" id="txtUserName" name="txtUserName" value="@Model.User_Name" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon customspan4">Mật khẩu</span>
                                        <input type="password" class="form-control" id="txtPassword" name="txtPassword" value="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon customspan4">Tên hiển thị</span>
                                        <input type="text" class="form-control" id="txtFullName" name="txtFullName" value="@Model.User_transactionName">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon customspan4">Ngày sinh</span>
                                        <input type="text" class="form-control" id="datepicker" name="txtBirthday" value="@(Model.Birthday.ToString("dd-MM-yyyy", CultureInfo.InvariantCulture))">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon customspan4">Email</span>
                                        <input type="email" class="form-control" id="txtEmail" name="txtEmail" value="@Model.User_Email">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon customspan4">Mật khẩu mail</span>
                                        <input type="password" class="form-control" id="txtEmailPassword" name="txtEmailPassword" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon customspan4">Số điện thoại</span>
                                        <input type="text" class="form-control" id="txtPhone" name="txtPhone" value="@Model.User_Phone">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon customspan8">Địa chỉ</span>
                                        <input type="text" class="form-control" id="txtAddress" name="txtAddress" value="@Model.User_Address">
                                    </div>
                                </div>
                            </div>
                            @if (Convert.ToInt32(Session["Role"]) == 1)
                            {
                                <div class="col-sm-4">
                                    <div class="form-group">


                                        <div class="input-group">
                                            <span class="input-group-addon customspan4">Quyền</span>
                                            <select class="form-control" id="UserRoleID" name="UserRoleID">
                                                @foreach (var item in l_role)
                                                {
                                                    string selected = "";
                                                    if (item.UserRoleID == Model.User_Role)
                                                    {
                                                        selected = "selected";

                                                    }
                                                    <option @selected value="@item.UserRoleID" title="@item.UserRoleDescription">@item.UserRoleName</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            }


                        </div>
                    </div>
                    <div class="box-footer with-border">
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="submit" value="Xác nhận" class="btn btn-primary  pull-right" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<script>
    $(function () {
        $('#datepicker').datepicker({
            autoclose: true,
            format: 'dd-mm-yyyy'
        });
    });
</script>

