@using Autravel.Models;
@using Autravel.Models.Function;

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var RoomType = (System.Data.DataTable)ViewBag.RoomType;
    var RoomHotel_Extensions = (System.Data.DataTable)ViewBag.RoomHotel_Extensions;
}
@model  RoomHotel
@helper  InputText(string ID, string Text, object value)
{<div class="form-group">
        <div class='input-group date'>
            <span class="input-group-addon label_input"> @Text </span>
            <input type='text' class="form-control" required value="@value" id="@ID" name="@ID" />
        </div>
    </div>
}
<h2 style="margin:4px">@ViewBag.title</h2>
@if (TempData["MessagePost"] != null)
{
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-check"></i> Thông báo!</h4>
        @Html.Raw(TempData["MessagePost"])

    </div>
}
<div class="wrap">
    @using (Html.BeginForm("CreatePost", "RoomHotels", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" id="RoomHotel_ID" name="RoomHotel_ID" value="@Model.RoomHotel_ID">
        <input type="hidden" id="Hotel_ID" name="Hotel_ID" value="@Model.Hotel_ID">
        <input type="hidden" id="Hotel_Name" name="Hotel_Name" value="@ViewBag.Hotel_Name">
        <input type="hidden" id="AreaSelectImage" name="AreaSelectImage">
        <div id="poststuff">
            <div id="post-body" class="metabox-holder columns-2">

                <div id="postbox-container-1" class="postbox-container col-md-6 col-xs-12">
                    <div class="box box-info box publish">
                        <div class="box-header with-border">
                            <h3 class="box-title fileter-title" data-widget="collapse">Lưu thông tin Phòng</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <label>Loại phòng</label>
                            <select class="form-control" name="RoomHotel_Type">
                                @foreach (System.Data.DataRow item in RoomType.Rows)
                                {
                                    string ID = item["RoomType_ID"].ToString();
                                    <option @(Model.RoomHotel_Type.ToString() == ID ? "selected" : "") value="@ID">@item["RoomType_Name"]</option>
                                }
                            </select>
                            <br />
                            @InputText("RoomHotel_Bed", "Giường", Model.RoomHotel_Bed)
                            @InputText("RoomHotel_Adutls", "Người lớn", Model.RoomHotel_Adutls)
                            @InputText("RoomHotel_Infants", "Trẻ em", Model.RoomHotel_Infants)
                            @InputText("RoomHotel_Acreage", "Diện tích", Model.RoomHotel_Acreage)
                            @InputText("RoomHotel_View", "Hướng", Model.RoomHotel_View)
                        <div class="row col-md-12">
                            <div class="col-md-6">
                                <div class="box box-info box ">
                                    <div class="box-header with-border">
                                        <h3 class="box-title fileter-title" data-widget="collapse">Lợi ích khi đặt phòng</h3>
                                        <div class="box-tools pull-right">
                                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div id="category-all" class="tabs-panel">
                                            <ul id="Locationchecklist" data-wp-lists="list:Location" class="Locationchecklist form-no-clear">
                                                @foreach (System.Data.DataRow item in RoomHotel_Extensions.Rows)
                                                {
                                                    string status = "";
                                                    string ID = item["ID"].ToString();
                                                    string Name = item["Name"].ToString();
                                                    if (Funtions.ContainItemInList(Model.RoomHotel_Extensions, ID))
                                                    { status = "checked"; }
                                                    <li id="@ID">
                                                        <label class="selectit">
                                                            <input value="@ID" type="checkbox" name="tour_Topic" id="@ID" @status> @Name
                                                        </label>
                                                    </li>
                                                }
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="box box-info box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title fileter-title" data-widget="collapse">Giá phòng</h3>
                                        <div class="box-tools pull-right">
                                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        @InputText("Hotel_TimeZone", "Số đêm", Model.Hotel_TimeZone)
                                        @InputText("Hotel_Price", "Giá niêm yết", Model.Hotel_Price)
                                        @InputText("Hotel_PriceSale", "Giá ưu đãi", Model.Hotel_PriceSale)
                                        @InputText("Hotel_Qty", "Số phòng", Model.Hotel_Qty)
 

                                    </div>
                                </div>
                            </div>

                        </div>
                            <div class="form-group">
                                <div id="publishing-action">
                                    <span class="spinner"></span>
                                    <a class="btn btn-default" href="/Manager/EditHotel/@Model.Hotel_ID">Quay lại khách sạn</a>
                                    <input type="submit" name="publish" id="publish" class="btn btn-primary mce-btn-large" value="Lưu thông tin phòng" onclick="updatemark()">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="postbox-container-1" class="postbox-container col-md-6 col-xs-12">

                    <div class="box box-info box postimagediv">
                        <div class="box-header with-border">
                            <h3 class="box-title fileter-title" data-widget="collapse">Ảnh tiêu biểu</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div id="category-all" class="tabs-panel">
                                <div class="inside">
                                    <img width="266" height="166" src="@Model.RoomHotel_Image" class="attachment-266x266 size-266x266" alt="Chọn ảnh" sizes="(max-width: 266px) 100vw, 266px">
                                    <p class="hide-if-no-js">
                                        <a href="#" id="set-post-thumbnail" class="thickbox btn selectmedia col-md-6" data-editor="content" data-toggle="modal" data-target="#myModal">Chọn ảnh tiêu biểu </a>
                                        <a href="#" id="delete-post-thumbnail" class="thickbox btn removeimage col-md-6">Xóa ảnh tiêu biểu </a>
                                    </p>
                                    <input type="hidden" id="_thumbnail_id" name="_thumbnail_id" value="@Model.RoomHotel_Image">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box box-info box postimagediv">
                        <div class="box-header with-border">
                            <h3 class="box-title fileter-title" data-widget="collapse">Ảnh phòng</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div id="post-body-content" style="position: relative;" class="col-md-9 col-xs-12">
                                <div class="Select_multi_Media col-md-12" id="Select_multi_Media">
                                    <div class="form-group">
                                        <label for="usr">Ảnh Phòng:</label>
                                        <a id="selectmultimedia" class="fa fa-plus button thickbox btn selectmultimedia selectmedia" data-toggle="modal" data-target="#myModal">Thêm ảnh</a>
                                        <input type="hidden" class="form-control" id="List_Images_Combo" name="List_Images_Combo" value="@Model.RoomHotel_ListImage">
                                    </div>
                                    <div class="form-group div_List_Images col-md-12">
                                        @if (!string.IsNullOrEmpty(Model.RoomHotel_ListImage))
                                        {
                                            var itemImage = Model.RoomHotel_ListImage.Split(',');
                                            foreach (var itemInList in itemImage)
                                            {
                                                if (itemInList != "")
                                                {<div class="form-group col-md-2 item_image"><img src="@itemInList" class="item_image_combo"></div>}
                                            }
                                        }
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div><!-- /post-body -->
            <br class="clear">
        </div><!-- /poststuff -->
    }

</div>
 
<script type="text/javascript">
    $(function () {
        var date = new Date();
        date.setDate(date.getDate());
        $('.Tour_DepartureDate').datepicker({
            format: 'dd/mm/yyyy',
            startDate: '0',
            autoclose: true,
            Default: false
        });
    });
</script>
<script>
    function formatNumber(n) {
        // format number 1000000 to 1,234,567
        return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
    }
    function FunctionTextChange(ev) {
        var Price = ev.value;
        Price = Price.replace(",", "");
        $(ev).val(formatNumber(Price));
    }
    function FunctionCaculatorCombo(ev) {
        var Price = ev.value;
        Price = Price.replace(",", "");
        var PriceRoom = $('#Tour_PriceRoom').val();
        PriceRoom = PriceRoom.replace(",", "");
        var PriceTicket = $('#Tour_PriceTicket').val();
        PriceTicket = PriceTicket.replace(",", "");
        var PriceFee = $('#Tour_PriceFee').val();
        PriceFee = PriceFee.replace(",", "");
        var total = parseFloat(PriceRoom / 2) + parseFloat(PriceTicket) + parseFloat(PriceFee);
        $('#Tour_Price').val(formatNumber(total.toString()));
        $(ev).val(formatNumber(Price));
    }
</script>

<script src="~/Content/js/LoadMedia.js"></script>
<script src="~/Content/js/Combo.js"></script>

<div class="modal fade media-frame-toolbar" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" style="width:90%;height:90%;" role="document">
        <div class="modal-content">
            <div class="modal-body">
                @*@Html.Partial("LoadAllImage")*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="submitselectimage" class="btn btn-primary">Xác nhận</button>
            </div>
        </div>
    </div>
</div>