@using System.Data;
@using Autravel.Models.Function;
@using Autravel.Extentions;

@model DataRow
@{
    var listImh = Model["Tour_ListImage"].ToString().Split(',').Where(z => !string.IsNullOrEmpty(z)).ToList();
    var LienQuan = (DataTable)ViewBag.LienQuan;
    var Room = (DataTable)ViewBag.Room;
    var AirType = (DataTable)ViewBag.AirType;
    var CarType = (DataTable)ViewBag.CarType;

}
<style>
    .DATCOMBONGAY{
        cursor:pointer
    }
       
    body {
        background-color: #eee;
    }

    .img-rounded {
        border-radius: 10px
    }

    .h1, .h2, .h3, h1, h2, h3 {
        margin-bottom: 0
    }

    .KhoiHanh td, .KhoiHanh {
        border: 0px !important;
        padding-left: 10px;
    }

    .KhoiHanh {
        float: right
    }

    .media-object {
        border-radius: 50%
    }

    .panel-body {
        padding: 10px;
    }

    .DATCOMBONGAY {
        color: #fff;
        background-color: #000;
        border-color: #ccc;
        padding: 10px;
        margin: 2px;
        text-align: center;
        border-radius: 5px
    }

    p {
        margin: 0
    }

    .row {
        padding: 0;
        margin: 0
    }

    .item6 {
        height: 200px
    }

    .itemRoom {
        background-color: #eee;
        margin: 5px 0;
        padding: 5px;
        border-radius: 10px;
        border: 1px solid #808080
    }

        .itemRoom label {
            font-size: 18px;
        }

        .itemRoom small {
            font-weight: normal
        }

        .itemRoom input {
            width: 20px;
            height: 20px;
            margin: 5px 10PX 0px 10PX
        }

    .header {
        background-color: #f1f1f1;
        padding: 30px;
        text-align: center;
    }

    #navbar {
        overflow: hidden;
        color:black;
        background-color: white;
        z-index: 99999;
        display:none;
        margin-top:60px;
     }

        #navbar a {
            float: left;
            display: block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }

            #navbar a:hover {
                background-color: #009688;
                color: white;
            }

            #navbar a.active {
                background-color: #4CAF50;
                color: white;
            }

    .content {
        padding: 16px;
    }
    #navbar a{
        font-weight:bold
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }

        .sticky + .content {
            padding-top: 60px;
        }
</style>
<div id="navbar">
    <a   href="#Tour_Content" >Tại sao bạn lưa chọn combo này</a>
    <a href="#Tour_Content">Combo bao gồm</a>
    <a href="#HotelInfo">Thông tin khách sạn</a>
    <a href="#Hotel_Facilities_ID">Tiện nghi</a>
    <a href="#accordion">Lịch trình tham khảo</a>
    <a href="#accordion">Chính sách</a>
    <a href="#DanhGia">Đánh giá</a>
    <div class="row pull-right col-md-3">
        <div class="col-md-4">
            <p>Tổng chi phí</p>
            <p><h3><b class="TotalPrice"></b></h3></p>
        </div>
        <div class="col-md-8">
            <a   class="DATCOMBONGAY col-md-12" style="color:white">Đặt COMBO ngay</a>
        </div>
    </div>
</div>
<div class="container" style=" margin-top: 70px; ">

    

    <span class="label label-default">Đang bán chạy</span>
    <h2>
        @Model["Tour_Name"]<i class="fa fa-building" aria-hidden="true"></i> <i class="fa fa-plane" aria-hidden="true"></i>
    </h2>

    <div class="col-md-8">
        @Html.Raw(Funtions.FillStarView(Model.ToFloat("Tour_StarRate")))

        <span class="label label-default">@Model["Tour_StarRate"]</span>
        <b>Tuyệt hảo</b>
        <span>24 đánh giá</span> | <span><a>@Model["Hotel_Address"]</a></span>

    </div>
    <div class="col-md-4">
        <table border="0" class="KhoiHanh">
            <tr>
                <td>Khởi hàng</td>
                <td>Hà nội</td>
                <td>=></td>
                <td>HCM</td>
            </tr>
            <tr>
                <td>Áp dụng</td>
                <td>@Model.ToDateString("Tour_DepartureDate")</td>
                <td>-</td>
                <td>@Model.ToDate("Tour_DepartureDate").AddDays(Model.ToFloat("Tour_TimeZone")).ToString("dd/MM/yyyy")</td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="@Model["Tour_Image"]" class="col-md-12 img-rounded">
        </div>
        <div class="col-md-6">
            @foreach (var item in listImh.OrderBy(z => z).Skip(0).Take(4))
            {
                <img src="@item" class="col-md-6 img-rounded item6">
            }

        </div>

    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="Tour_Content"> @Html.Raw(Model["Tour_Content"])</div>
                    <hr />
                    @Html.Action("DanhGiaNoiBat", "PCombo", new { TourID = Model["Tour_ID"] })
                    <hr />
                    <div id="HotelInfo">@Html.Action("HotelInfo", "PCombo", new { Hotel_ID = Model["Hotel_ID"] })</div>


                    <hr />
                    <h2>Yêu cầu đặc biệt</h2>
                    <div>
                        <b>Nâng hạn phòng</b>

                        @foreach (DataRow item in Room.Rows)
                        {
                            <div class="itemRoom">

                                <div class="row">
                                    <div class="col-md-8">
                                        <p>Phòng</p>

                                        <div>
                                            <input type="radio" name="Room_ID" id="@item["Room_ID"]" value="@item["Room_ID"]" />
                                            <label for="@item["Room_ID"]">
                                                <span class="Name">@item["Name"]</span>
                                                <i class="fa fa-info-circle"></i> <small> @item["Size"]</small>
                                            </label>
                                        </div>

                                    </div>
                                    <div class="col-md-4" style="text-align:right">
                                        @if (item.ToInt("Price") != 0)
                                        {
                                            <p><b class="Price">@item.ToIntCurrency("Price") đ</b></p>
                                            <p><span class="Type">@item["Type"]</span></p>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                        <b>Chọn hãng hàng không</b>

                        @foreach (DataRow item in AirType.Rows)
                        {
                            <div class="itemRoom">

                                <div class="row">
                                    <div class=" col-md-8">
                                        <p>Phòng</p>

                                        <input type="radio" name="AirType" value="@item["AirType"]" id="@item["AirType"]" />
                                        <label class="Name" for="@item["AirType"]">
                                            @item["AirType"]
                                        </label>

                                    </div>

                                </div>
                            </div>
                        }
                        <b>Nâng hạng xe</b>
                        <div class="row">
                            @foreach (DataRow item in CarType.Rows)
                            {
                                <div style="padding:3px" class="col-md-4">
                                    <div class="itemRoom " style="height: 150px">
                                        <p>
                                            Xe
                                            <input type="radio" name="CarType" class="pull-right" value="@item["CarType"]" id="@item["CarType"]" />
                                        </p>
                                        <label for="@item["CarType"]" class="Name">
                                            @item["CarType"]
                                        </label>
                                        <br />
                                        <br />@if (item.ToInt("Price") != 0)
                                        {
                                            <p><small>Chỉ từ</small></p>
                                            <p><b class="Price">@item.ToIntCurrency("Price") đ</b></p>
                                            <p class="Type">Khách/khứ hồi</p>
                                        }

                                    </div>
                                </div>
                            }

                        </div>
                    </div>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading" style=" padding: 20px 15px">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                        Lịch trình du lịch tham khảo  <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i>

                                    </a>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    @Html.Raw(Model["Tour_Itinerary"])
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" style=" padding: 20px 15px">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                        Chính sách đảm bảo quyền lợi khách hàng <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i>

                                    </a>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    @Html.Raw(Model["Tour_Rules"])

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" style=" padding: 20px 15px">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                        Hướng dẫn sử dụng combo <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i>

                                    </a>
                                </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    @Html.Raw(Model["Tour_Schedule"])

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body" id="DanhGia">
                    @Html.Action("DanhGia", "PCombo", new { TourID = Model["Tour_ID"] })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            @Html.Action("Support", "Home")


            <div class="panel panel-default">
                <div class="panel-body">
                    <b>  Thông tin   </b>
                    <span class="pull-right">
                        <span class="label label-default">9.7</span><span> (24)</span>
                    </span>
                    <div class="panel panel-default ">
                        <div class="panel-body ">
                            <p>Yêu cầu đặc biệt</p>
                            <div class="row YeuCauPhong">
                                <div class="col-md-6">
                                    <b class="Name">  Phòng Deluxe</b>
                                </div>
                                <div class="col-md-6 ">
                                    <div>
                                        <b class="pull-right Price">+ 300.000 ₫</b>
                                        <small class="pull-right Type">Phòng/đêm</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row YeuCauXe">
                                <div class="col-md-6">
                                    <b class="Name">  Hạng xe</b>
                                </div>
                                <div class="col-md-6 ">
                                    <div>
                                        <b class="pull-right Price">+ 100.000 ₫</b>
                                        <small class="pull-right Type">Khách/Khứ hồi</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 AirType">
                                    <b class="Name">Hãng Vietnam AirLines</b>
                                    <p class="text-danger "><i>Yêu cầu này sẽ được nhận viên của chúng rôi xác nhận lại sau</i></p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <H3>  <b class="pull-right TotalPrice">790.000 ₫</b></H3>
                    <a class="DATCOMBONGAY col-md-12">Đặt COMBO ngay</a>
                </div>
            </div>
        </div>
    </div>

    @Html.Action("LienQuan", "PCombo", new { Tour_Location = Model["Tour_Location"] })


</div>

<script>

    $('[name=Room_ID]:eq(0)').prop('checked', true);
    $('[name=AirType]:eq(0)').prop('checked', true);
    $('[name=CarType]:eq(0)').prop('checked', true);
    $(".itemRoom input").change(function (e) {
        e.preventDefault();
        loadoption();
    });
    function loadoption() {
        var Room = $('[name=Room_ID]:checked').closest(".itemRoom");
        var RoomName = Room.find(".Name").text().trim();
        var RoomPrice = Room.find(".Price").text().trim();
        var RoomType = Room.find(".Type").text().trim();
        RoomName = "Phòng " + RoomName;
        $(".YeuCauPhong .Name").html(RoomName);
        $(".YeuCauPhong .Price").html(RoomPrice);
        $(".YeuCauPhong .Type").html(RoomType);

        var CarType = $('[name=CarType]:checked').closest(".itemRoom");
        var CarTypeName = CarType.find(".Name").text().trim();
        var CarTypePrice = CarType.find(".Price").text().trim();
        var CarTypeType = CarType.find(".Type").text().trim();
        $(".YeuCauXe .Name").html(CarTypeName);
        $(".YeuCauXe .Price").html(CarTypePrice);
        $(".YeuCauXe .Type").html(CarTypeType);

        var AirType = $('[name=AirType]:checked').closest(".itemRoom");
        var AirTypeName = AirType.find(".Name").text().trim();
        AirTypeName = "Hãng " + AirTypeName;
        $(".AirType .Name").html(AirTypeName);
        var A = CarTypePrice.replace("đ", "").trim();
        var B = RoomPrice.replace("đ", "").trim();
        A = A.replace(",", "");
        B = B.replace(",", "");
        if (isNaN(B) || B == "") {
            B = "0";
        }
        if (isNaN(A) || A == "") {
            A = "0";
        }

        var TotalPrice = parseInt(A) + parseInt(B);
        var TotalPrice = TotalPrice.toLocaleString("en-GB", { minimumFractionDigits: 0 });
        $(".TotalPrice").html(TotalPrice + " đ");


    }
    $(document).ready(function () {
        loadoption();
    });
</script>
<script>
    window.onscroll = function () { myFunction() };

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
        if (window.pageYOffset < 10) {
            navbar.style.display = 'none';
        } else {
            navbar.style.display = 'block';
        }
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
    }
    $(".DATCOMBONGAY").click(function (e) {
        e.preventDefault();
        var Room_ID = $('[name=Room_ID]:checked').val();
        var AirType = $('[name=AirType]:checked').val();
        var CarType = $('[name=CarType]:checked').val();
        window.location.href = "/PCombo/Checkout?ID=@Model["Tour_ID"]&Room_ID=" + Room_ID + "&AirType=" + AirType + "&CarType=" + CarType;
    });
</script>
